* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Century gothic";
}

.App{
    min-height: 100vh;
    overflow-x: auto;
    position: relative;
    padding-bottom: 12rem;

    @import './footer.scss';
    @import './form.scss';
    @import './header.scss';
    @import './main.scss';

}